

<div class="p-5 border border-gray-200 rounded-2xl dark:border-gray-800 lg:p-6">
  <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90 lg:mb-2">
    Profil
  </h3>
  <div class="flex flex-col gap-5 xl:flex-row xl:items-center xl:justify-between">
    <div class="flex flex-col items-center w-full gap-6 xl:flex-row">
      <div class="w-20 h-20 overflow-hidden border border-gray-200 rounded-full dark:border-gray-800">
        <img [src]="dataService.apiUrl + dataService.currentUser.shopLogo.url" alt="user logo" />
      </div>
      <div class="order-3 xl:order-2">
        <h4 class="mb-2 text-lg font-semibold text-center text-gray-800 dark:text-white/90 xl:text-left">
          {{ dataService.currentUser?.username }}
        </h4>
        <div class="flex flex-col items-center gap-1 text-center xl:flex-row xl:gap-3 xl:text-left">
          <p class="text-sm text-gray-500 dark:text-gray-400">
            {{ dataService.currentUser?.email }}
          </p>
          <div class="hidden h-3.5 w-px bg-gray-300 dark:bg-gray-700 xl:block"></div>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            {{ dataService.currentUser?.street }}, {{ dataService.currentUser?.zipCode }} {{ dataService.currentUser?.city }}
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-3 mt-4 xl:mt-0 xl:flex-row">
      <app-button size="sm" variant="outline" [startIcon]="dataService.editIcon" (btnClick)="openProfileModal()">
          Profil anpassen
      </app-button>
      <app-button size="sm" variant="outline" [startIcon]="dataService.editIcon" (btnClick)="openChangePasswordModal()">
          Passwort ändern
      </app-button>
    </div>
  </div>
</div>

<!-- Profile Modal -->
<app-modal
  [isOpen]="isProfileOpen"
  (close)="closeProfileModal()"
  className="max-w-[700px] m-4"
>
  <div class="no-scrollbar relative w-full max-w-[700px] overflow-y-auto rounded-3xl bg-white p-4 dark:bg-gray-900 lg:p-11">
    <div class="px-2 pr-14">
      <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">
        Profil bearbeiten
      </h4>
      <p class="mb-6 text-sm text-gray-500 dark:text-gray-400 lg:mb-7">
        Hier kannst du deine Profilinformationen bearbeiten.
      </p>
    </div>
    <form class="flex flex-col">
      <div class="custom-scrollbar h-[450px] overflow-y-auto px-2 pb-3">
        <div class="mt-2">
          <label>Shop Logo</label>
          <p *ngIf="errorMessageFileUpload != ''" class="text-red-500 text-sm font-bold mb-2">{{ errorMessageFileUpload }}</p>
          <!--
          <div
              *ngIf="this.uploadImage == null"
              class="transition my-4 border border-gray-300 border-dashed cursor-pointer dark:hover:border-brand-500 dark:border-gray-700 rounded-xl hover:border-brand-500"
            >
              <form
                class="dropzone rounded-xl border-dashed border-gray-300 p-7 lg:p-10"
                id="demo-upload"
                [ngClass]="isDragActive
                  ? 'border-brand-500 bg-gray-100 dark:bg-gray-800'
                  : 'border-gray-300 bg-gray-50 dark:border-gray-700 dark:bg-gray-900'"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onFileChange($event)"
                (click)="fileInput.click()"
                style="position: relative;"
              >
                <input
                  #fileInput
                  type="file"
                  accept="image/png, image/jpeg, image/webp"
                  multiple
                  style="display: none"
                  (change)="onFileChange($event)"
                />

                <div class="dz-message flex flex-col items-center m-0!">
                  <div class="mb-[22px] flex justify-center">
                    <div class="flex h-[68px] w-[68px] items-center justify-center rounded-full bg-gray-200 text-gray-700 dark:bg-gray-800 dark:text-gray-400">
                      <svg
                        class="fill-current"
                        width="29"
                        height="28"
                        viewBox="0 0 29 28"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M14.5019 3.91699C14.2852 3.91699 14.0899 4.00891 13.953 4.15589L8.57363 9.53186C8.28065 9.82466 8.2805 10.2995 8.5733 10.5925C8.8661 10.8855 9.34097 10.8857 9.63396 10.5929L13.7519 6.47752V18.667C13.7519 19.0812 14.0877 19.417 14.5019 19.417C14.9161 19.417 15.2519 19.0812 15.2519 18.667V6.48234L19.3653 10.5929C19.6583 10.8857 20.1332 10.8855 20.426 10.5925C20.7188 10.2995 20.7186 9.82463 20.4256 9.53184L15.0838 4.19378C14.9463 4.02488 14.7367 3.91699 14.5019 3.91699ZM5.91626 18.667C5.91626 18.2528 5.58047 17.917 5.16626 17.917C4.75205 17.917 4.41626 18.2528 4.41626 18.667V21.8337C4.41626 23.0763 5.42362 24.0837 6.66626 24.0837H22.3339C23.5766 24.0837 24.5839 23.0763 24.5839 21.8337V18.667C24.5839 18.2528 24.2482 17.917 23.8339 17.917C23.4197 17.917 23.0839 18.2528 23.0839 18.667V21.8337C23.0839 22.2479 22.7482 22.5837 22.3339 22.5837H6.66626C6.25205 22.5837 5.91626 22.2479 5.91626 21.8337V18.667Z"
                        />
                      </svg>
                    </div>
                  </div>

                  <h4 class="mb-3 text-center font-semibold text-gray-800 text-theme-xl dark:text-white/90">
                    {{ isDragActive ? 'Lege dein Bild hier ab' : 'Shop Logo hier hochladen' }}
                  </h4>

                  <span class="text-center mb-5 block w-full max-w-[290px] text-sm text-gray-700 dark:text-gray-400">
                    {{ isDragActive ? 'Lass los, um hochzuladen' : 'Ziehen Sie Ihr Logo hierher oder klicken Sie zum Hochladen' }}
                  </span>

                  <span class="font-medium underline text-theme-sm text-brand-500">
                    Unterstützte Formate: PNG, JPG, WEBP (max. 5MB)
                  </span>
                </div>
              </form>
          </div>
          -->
          <div
            class="transition my-4 border border-gray-300 border-dashed cursor-pointer dark:hover:border-brand-500 dark:border-gray-700 rounded-xl hover:border-brand-500"
          >
            <form
              class="dropzone rounded-xl border-dashed border-gray-300 p-7 lg:p-10"
              id="demo-upload"
                [ngClass]="isDragActive
                  ? 'border-brand-500 bg-gray-100 dark:bg-gray-800'
                  : 'border-gray-300 bg-gray-50 dark:border-gray-700 dark:bg-gray-900'"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)"
                (click)="fileInput.click()"
                style="position: relative;"
              >
                <!-- Hidden Input -->
                <input
                  #fileInput
                  type="file"
                  accept="image/png, image/jpeg, image/webp"
                  multiple
                  style="display: none"
                  (change)="onFileChange($event)"
                />

                <div class="dz-message flex flex-col items-center m-0!">
                  <button (click)="removeUploadedImage($event)" type="button" class="absolute top-0 right-0 mt-2 mr-2">
                    <svg class="h-6 w-6 text-gray-400 hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>

                  <img class="h-24 w-24 rounded-full object-cover" [src]="getImgUrl()" alt="user logo" />
                </div>
              </form>
          </div>
          <div class="grid grid-cols-1 gap-x-6 gap-y-5 lg:grid-cols-2">
            <div class="col-span-2 lg:col-span-1">
              <label>Shopname</label>
              <app-input-field type="text"  [(value)]="user.username" placeholder="Geben Sie den Shopnamen ein" />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <label>Email</label>
              <app-input-field type="email" [(value)]="user.email" placeholder="Geben Sie die E-Mail-Adresse ein" />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <label>Straße</label>
              <app-input-field type="text" [(value)]="user.street" placeholder="Geben Sie die Straße ein" />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <label>Postleitzahl</label>
              <app-input-field type="text" [(value)]="user.zipCode" placeholder="Geben Sie die Postleitzahl ein" />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <label>Ort</label>
              <app-input-field type="text" [(value)]="user.city" placeholder="Geben Sie den Ort ein" />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <label>Land</label>
              <app-input-field type="text" [(value)]="user.country" placeholder="Geben Sie das Land ein" />
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center gap-3 px-2 mt-6 lg:justify-end">
        <app-button
          size="sm"
          variant="outline"
          (btnClick)="closeProfileModal()"
        >
          Schließen
        </app-button>
        <app-button
          size="sm"
          (btnClick)="handleSave()"
          
        >
            <svg class="mr-3 size-5 animate-spin" *ngIf="isLoading" viewBox="0 0 24 24">
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
          {{ isLoading ? 'Lade hoch...' : 'Änderungen speichern' }}
        </app-button>
      </div>
    </form>
  </div>
</app-modal>

<!-- Password Change Modal -->
<app-modal
  [isOpen]="isChangePasswordOpen"
  (close)="closeChangePasswordModal()"
  className="max-w-[700px] m-4"
>
  <div class="no-scrollbar relative w-full max-w-[700px] overflow-y-auto rounded-3xl bg-white p-4 dark:bg-gray-900 lg:p-11">
    <div class="px-2 pr-14">
      <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">
        Passwort ändern
      </h4>
      <p class="mb-6 text-sm text-gray-500 dark:text-gray-400 lg:mb-7">
        Hier kannst du dein Passwort ändern.
      </p>
    </div>
    <form class="flex flex-col">
      <div class="custom-scrollbar overflow-y-auto px-2 pb-3">
        <p *ngIf="errorMessagePasswordChange != ''" class="text-red-500 text-sm font-bold mb-2">{{ errorMessagePasswordChange }}</p>
        <div class="mt-2">
          <div class="grid grid-cols-1 gap-x-6 gap-y-5 lg:grid-cols-2">
            <div class="col-span-2">
              <label>Aktuelles Passwort</label>
              <app-input-field type="password"  [(value)]="currentPassword" placeholder="Geben Sie das aktuelle Passwort ein" />
            </div>
            <div class="col-span-2">
              <label>Neues Passwort</label>
              <app-input-field type="password"  [(value)]="newPassword" placeholder="Geben Sie das neue Passwort ein" />
            </div>
            <div class="col-span-2">
              <label>Neues Passwort bestätigen</label>
              <app-input-field type="password"  [(value)]="confirmNewPassword" placeholder="Bestätigen Sie das neue Passwort" />
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center gap-3 px-2 mt-6 lg:justify-end">
        <app-button
          size="sm"
          variant="outline"
          (btnClick)="closeChangePasswordModal()"
        >
          Schließen
        </app-button>
        <app-button
          size="sm"
          (btnClick)="changePassword()"
        >
          Passwort ändern
        </app-button>
      </div>
    </form>
  </div>
</app-modal>