<div>
  <app-page-breadcrumb pageTitle="Meine Stempelkarten" />
  <div class="min-h-screen rounded-2xl border border-gray-200 bg-white px-4 py-4 dark:border-gray-800 dark:bg-white/[0.03] lg:px-10 lg:py-10">
    <div class="w-full flex justify-end">
      <app-button (click)="handleCreateNewCard()" size="sm" [endIcon]="addIcon">
        Neue Stempelkarte
      </app-button>
    </div>
    <div class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-1 lg:grid-cols-2">

        <div *ngFor="let card of dataService.loyaltyPrograms" class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
            <!-- Card Header -->
            <div class="px-6 py-5">
                <div class="flex justify-between items-start">
                    <div>
                        <h3 class="text-base font-medium text-gray-800 dark:text-white/90">
                        {{ card.attributes.programName }}
                        </h3>
                        @if (card.attributes.programDescription) {
                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">
                        {{ card.attributes.programDescription }}
                        </p>
                        }
                    </div>
                    <div class="pt-3 ml-5">
                        <app-switch
                        label="Aktiv"
                        [defaultChecked]="card?.attributes?.active"
                        (valueChange)="switchActiveness($event, card)"
                        ></app-switch>
                    </div>
                    <div class="pt-3 ml-5">
                        <app-button
                        variant="outline"
                        [disabled]="dataService.loyaltyPrograms.length <= 1"
                        (click)="deleteCardToggle = true; deleteCard = card"
                        size="sm"
                        [startIcon]="deleteIcon"
                        ></app-button
                        >
                    </div>
                </div>
            </div>

            <!-- Card Body -->
            <div class="p-2 border-t border-gray-100 dark:border-gray-800 sm:p-6">
                <div class="space-y-6">
                        <div class="flex items-center flex-col">
                <div class="w-full flex flex-row justify-between items-center">
                    <div class="flex flex-col">
                        <div class="rounded-2xl w-full flex flex-row items-center bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:mr-4">
                            <div class="flex items-center justify-center w-18 h-18 bg-gray-100 rounded-xl dark:bg-gray-800" [innerHTML]="groupIcon | safeHtml">
                            </div>
                            <div class="flex items-end justify-between ml-4">
                                <div>
                                <span class="text-sm text-gray-500 dark:text-gray-400">Aktive Kunden</span>
                                <h4 class="mt-2 font-bold text-gray-800 text-title-sm dark:text-white/90">{{ card?.attributes?.program_users?.data.length ?? 0 }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <qr-code [value]="dataService.signUpPageLink + card?.attributes?.loyaltyProgramCode"
                        class="rounded-2xl"
                        size="150" 
                        errorCorrectionLevel="M" />
                    </div>
                </div>
                <div class="w-full p-2 relative">
                    <app-input-field
                        [value]="dataService.signUpPageLink + card?.attributes?.loyaltyProgramCode"
                        class="form-input"
                        [readonly]="true"
                    />
                    <span
                    class="absolute z-30 -translate-y-1/2 cursor-pointer right-4 top-1/2"
                    (click)="copyToClipboard(dataService.signUpPageLink + card?.attributes?.loyaltyProgramCode)"
                    [innerHTML]="copyIcon | safeHtml"
                    ></span>
                </div>
                <div class="flex gap-2 w-full dark:bg-white/[0.03] p-2 rounded-lg">
                    <app-button
                        class="w-full"
                        size="md"
                        variant="outline"
                        [disabled]="card?.attributes?.program_users?.data.length > 0"
                        [startIcon]="editIcon"
                        (click)="updateLoyaltyProgram(card)"
                    >
                        <div class="w-full flex justify-center">Bearbeiten</div>
                    </app-button>

                    <app-button
                        class="w-full"  
                        size="md"
                        variant="outline"
                        [startIcon]="downloadIcon"
                        (click)="handlePdfDownload(card)"
                    >
                        <div class="w-full flex justify-center">Flyer herunterladen</div>
                    </app-button>
                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<app-modal
  [isOpen]="deleteCardToggle"
  (close)="deleteCardToggle = false"
  className="max-w-[700px] m-4"
>
  <div class="no-scrollbar relative w-full max-w-[700px] overflow-y-auto rounded-3xl bg-white p-4 dark:bg-gray-900 lg:p-11">
        <div class="sm:flex sm:items-start">
          <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
            <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Stempelkarte löschen</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">Sind Sie sicher, dass Sie Ihre Stempelkarte '{{ deleteCard?.attributes?.programName }}' löschen möchten? </p>
            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
          <button (click)="handleDeleteCard()" type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Stempelkarte löschen</button>
          <button (click)="deleteCardToggle = false" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Abbrechen</button>
        </div>
    </div>
</app-modal>