<div class="rounded-2xl border border-gray-200 bg-gray-100 dark:border-gray-800 dark:bg-white/[0.03]">
  <div class="px-5 pt-5 bg-white shadow-default rounded-2xl pb-11 dark:bg-gray-900 sm:px-6 sm:pt-6">
    <div class="flex justify-between">
      <div>
        <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
          Monthly Target
        </h3>
        <p class="mt-1 text-gray-500 text-theme-sm dark:text-gray-400">
          Target you’ve set for each month
        </p>
      </div>
    </div>
    <div class="relative">
      <div class="max-h-[330px]" id="chartDarkStyle">
        <apx-chart
          [series]="series"
          [chart]="chart"
          [plotOptions]="plotOptions"
          [fill]="fill"
          [stroke]="stroke"
          [labels]="labels"
          [colors]="colors"
        ></apx-chart>
      </div>
    </div>
    <p class="mx-auto mt-10 w-full max-w-[380px] text-center text-sm text-gray-500 sm:text-base">
      You earn $3287 today, it's higher than last month. Keep up your good work!
    </p>
  </div>
</div>