<div
  class="overflow-hidden rounded-2xl border border-gray-200 bg-white px-4 pb-3 pt-4 dark:border-gray-800 dark:bg-white/[0.03] sm:px-6">
  <div class="flex flex-col gap-2 mb-4 sm:flex-row sm:items-center sm:justify-between">
    <div>
      <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
        Letzte Interaktionen
      </h3>
    </div>
  </div>

  <div class="max-w-full overflow-x-auto">
    <table class="w-full text-left">
      <thead class="border-y border-gray-100 dark:border-gray-800">
        <tr>
          <th class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400">Kunde</th>
          <th class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400">Aktuelle Punkte</th>
          <th class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400">Stempelkarte</th>
          <th class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400">Letzte Interaktion</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 dark:divide-gray-800">
        @for (customer of lastFiveCustomers; track $index) {
        <tr>
          <td class="py-3">
            <div class="flex items-center gap-3">
                <div class="flex items-center gap-3">
                  <app-avatar-text 
                      [name]="customer.customerName ? customer.customerName : 'N/A'" 
                      class="w-10 h-10"/>
                </div>
                <div>
                  <p class="font-medium text-gray-800 text-theme-sm dark:text-white/90">
                    {{ customer.customerName }}
                  </p>
                  <span class="text-gray-500 text-theme-xs dark:text-gray-400">
                    {{ customer.customerEmail }}
                  </span>
                </div>
            </div>
          </td>

          <td class="py-3 text-gray-500 text-theme-sm dark:text-gray-400 text-center">
            {{ customer.currentPoints ? customer.currentPoints : '0' }} / {{ customer.maxPoints ? customer.maxPoints : '0' }}
          </td>
          <td class="py-3 text-gray-500 text-theme-sm text-center dark:text-gray-400 mx-2">
              <app-badge
              variant="light"
              color="light"
              size="sm"
              >
              {{ customer.programName ? customer.programName : 'Keine Stempelkarte' }}
              </app-badge>
          </td>
          <td class="py-3 text-gray-500 text-center text-theme-sm dark:text-gray-400 ml-2">
              <app-badge
              variant="light"
              [color]="getColorForLastInteraction(customer.updatedAt)"
              size="sm"
              >
              {{ formatdate(customer.updatedAt) }}
              </app-badge>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>